/* @import "https://unpkg.com/swiper@8/swiper-bundle.min.css"; */




/* .swiper {
    width: 600px;
    height: 300px;
  } */

  /* .swiper-slide {
    text-align: center;
  } */

  .plant-image img {
    max-width: 200px;
    height: auto;
  }

  .plant-image img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

.weekly-schedule-wrapper {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.weekly-schedule-section {
  font-weight: bold;
}