
main {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}

img {
    max-width: 50%;
    height: auto;
}

.desc-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.indoor, .outdoor {
    display: flex;
    gap: 3rem;
}

.section-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 4rem;
}

.description {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}