/* @import "https://unpkg.com/swiper@8/swiper-bundle.min.css"; */




/* .swiper {
    width: 600px;
    height: 300px;
  } */

  /* .swiper-slide {
    text-align: center;
  } */

  .plant-image img {
    max-width: 50%;
    height: auto;
  }

  .plant-image img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  /* .plant-image img:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  } */



  p {
    font-weight: bold;
  }