/* Error: expected "{".
 *    ,
 * 16 | @import "./pages/camera";
 *    |                         ^
 *    '
 *   layout/_pages.scss 16:25  @import
 *   style.scss 14:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 16 \2502  @import "./pages/camera";\a    \2502                          ^\a    \2575 \a   layout/_pages.scss 16:25  @import\a   style.scss 14:9           root stylesheet';
}
