/* VARIABLES ================ */
/* MIXINS =================== */
/* ACCESSIBILITY ============ */
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Urbanist:wght@400;600&display=swap");
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* LAYOUT ================== */
.login-body {
  background-color: #FAFAFA;
}

.login-main {
  max-width: 338px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  padding-top: 2rem;
}
.login-main h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 1rem;
}
.login-main .login {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
.login-main form {
  max-width: 448px;
}
.login-main input,
.login-main label {
  display: block;
  font-size: 16px;
}
.login-main input {
  border-radius: 8px;
  border: solid 2px #83C992;
  width: 100%;
  height: 56px;
  padding: 24px 16px;
}
.login-main .email-div,
.login-main .password-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: 12px;
}
.login-main .signup-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.login-main .signup-link a {
  color: #2B2B2B;
}
.login-main .loginButton {
  width: 126px;
  height: 44px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #B21F51;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}
.login-main .login-graphic {
  display: none;
}
@media screen and (min-width: 800px) {
  .login-main {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px;
    padding: 4rem 5% 0 5%;
  }
  .login-main .login-graphic {
    display: block;
    max-width: 300px;
    height: auto;
    padding-top: 3rem;
  }
  .login-main label {
    font-size: 24px;
  }
  .login-main h2 {
    font-size: 40px;
  }
  .login-main .loginButton {
    font-size: 16px;
    width: 197px;
    height: 44px;
  }
}

main.myplants h2 {
  text-align: center;
  font-size: 34px;
}
main.myplants section.myplant {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 5rem;
}
main.myplants .myplant h2 {
  flex-basis: 100%;
}
main.myplants .myplant-wrapper {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  border: solid 4px #83C992;
  border-radius: 50px;
  width: 1000px;
  margin: auto;
  padding: 3rem;
  height: 1000px;
}
main.myplants .plant-image img {
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main.myplants #addplant {
  background-color: #B21F51;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  border-radius: 15px;
  width: 197px;
  height: 44px;
  font-size: 14px;
}
main.myplants .weekly-schedule-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
main.myplants .weekly-schedule-wrapper > div {
  border: 5px solid #DD1C50;
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  width: 350px;
  height: 250px;
  margin-right: 10rem;
  margin-left: 10rem;
}
main.myplants .myplants-icons i {
  font-size: 60px;
}
main.myplants .myplants-icons img {
  width: 70px;
  height: auto;
}
main.myplants .weekly-schedule-section {
  font-size: 21px;
  flex-basis: 100%;
}
main.myplants .weekly-schedule-section + div {
  font-size: 21px;
  font-weight: 700;
}
main.myplants .weekly-schedule-section .watering {
  flex-basis: 40%;
  text-align: right;
}
main.myplants .weekly-schedule-section + div + input {
  font-size: 14px;
  border-radius: 5px;
  width: 151px;
  height: 29px;
  border: 2px solid #83C992;
  background-color: #FAFAFA;
}
main.myplants button.watered-today {
  background-color: #B21F51;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  border-radius: 15px;
  width: 197px;
  height: 44px;
  font-size: 14px;
}
main.myplants button.nutritionize-today {
  background-color: #83C992;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  border-radius: 15px;
  width: 197px;
  height: 44px;
  font-size: 14px;
}
main.myplants button.watered-today:disabled {
  background: rgba(178, 31, 81, 0.5);
}
main.myplants button.nutritionize-today:disabled {
  background: rgba(131, 201, 146, 0.5);
}
@media screen and (min-width: 800px) {
  main.myplants .weekly-schedule-wrapper {
    display: flex;
    flex-flow: row nowrap;
    border: 5px solid #DD1C50;
    border-radius: 50px;
    padding: 3rem;
    max-width: 1000px;
    margin: auto;
    gap: 0;
  }
  main.myplants .weekly-schedule-wrapper > div {
    border: unset;
    margin: 0;
  }
  main.myplants .sunlight-temp {
    padding-bottom: 7rem;
  }
  main.myplants .weekly-schedule-section + div {
    flex-basis: 100%;
  }
  main.myplants button.watered-today,
main.myplants button.nutritionize-today {
    margin-top: 1rem;
  }
}

main.plant-detail .plant-image-name-wrapper img {
  border: #83C992 4px solid;
  max-width: 60%;
  height: auto;
  border-radius: 20px;
  margin: auto;
}
main.plant-detail .plant-image-name-wrapper .plant-name {
  font-size: 4rem;
  color: #DD1C50;
  font-weight: 400;
  font-family: "Righteous", cursive;
  text-align: center;
}
main.plant-detail .indoor,
main.plant-detail .outdoor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}
main.plant-detail .indoor-frequent,
main.plant-detail .outdoor-frequent {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.6rem;
}
main.plant-detail .frequent-wrapper {
  border: #DD1C50 2px solid;
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
  text-align: center;
  padding-top: 2rem;
  font-size: 1.6rem;
}
main.plant-detail .frequent-wrapper div:nth-of-type(1) {
  font-weight: 700;
}
main.plant-detail .section-wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #BCBCBC;
}
main.plant-detail table, main.plant-detail tr, main.plant-detail td, main.plant-detail th {
  border: 1px solid #BCBCBC;
  border-collapse: collapse;
}

body {
  background-color: #F5F5F5;
}

/* MEDIA =================== */
img {
  max-width: 100%;
  height: auto;
}

/* TYPOGRAPHY ============== */
body {
  font-family: "Urbanist", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Righteous", cursive;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 27pt;
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 15pt;
}

h6 {
  font-size: 12pt;
}

/* RESET =================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*# sourceMappingURL=style.css.map */
