@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Caveat:wght@400;700&family=Urbanist:wght@400;600&display=swap');

body {
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headers;
}

h1 {
    font-size: 48pt;
}

h2 {
    font-size: 36pt;
}

h3 {
    font-size: 27pt;
}

h4 {
    font-size: 18pt;
}

h5 {
    font-size: 15pt;
}

h6 {
    font-size: 12pt;
}