// COLORS =================

// RED COLOR - PRIMARY
$color-red1: #DD1C50;
$color-red2: #B21F51;
$color-red3: #7B163C;

// GREEN COLOR - SECONDARY
$color-green1: #83C992;
$color-green2: #99C6A2;
$color-green3: #A7C6AD;

// YELLOW COLOR - SECONDARY
$color-yellow1: #F1D644;
$color-yellow2: #EFD35E;
$color-yellow3: #EFDC8E;

// BODY COLOR
$color-body-dark: #2B2B2B;
$color-body-light: #FAFAFA;

// ICON/TEXT AREA
$color-icon-text: #A9A9A9;

// ERROR COLOR
$color-error: #DD1C50;

// TYPOGRAPHY ==============

$font-headers: 'Righteous', cursive;
$font-body: 'Urbanist', sans-serif;

$media-query-break: 800px;