@mixin avatar(){
    width:15%;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(200, 200, 200);
}
@mixin button($c, $fc){
    text-decoration: none;
    background-color:$c;
    color: $fc;
    padding: .5rem 1rem;
    border-radius: 15px;
    font-size: 10px;
}
@mixin gridBox($mw: 200px, $gg:1rem){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($mw, 1fr) );
    grid-gap: $gg;
}
@mixin paddingJournal(){
    padding: 5rem 3rem;
}
@mixin journalBox(){
    p:nth-of-type(1),
    p:nth-of-type(2),
    p:nth-of-type(3){
        font-size: 13px;
        text-align: center;
    }
}