.about-us-page {

    padding-top: 2.5rem;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    p {
        text-align: center;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .member {
        .member-image {
            display: block;
            margin-top: 1.5rem;
            margin-left: auto;
            margin-right: auto;
        }

        .member-name {
            margin: 0;
            margin-top: .5rem;
            font-size: 2rem;
            font-weight: bold;
            font-family: $font-headers;
        }

        .member-position {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 400;
            // font-family: $font-headers;
        }
    }

    .contact-us {

        width: 245px;
        height: 44px;
        margin: 3rem auto;

        a {
            color: $color-body-light;
            background-color: $color-red2;
            border-radius: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: .9rem;
            text-align: center;
            padding: 12px 32px;
            display: block;
            letter-spacing: 1.25px;
        }
    }
}

@media screen and (min-width: $media-query-break) {

    .about-us-page {

        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        h2 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.4;
        }

        .members-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }

        .member:nth-of-type(7) {
            grid-column: 2;
        }
    }
}