
.homepage-main {
/* Position the image container (needed to position the left and right arrows) */
.flt-left{
  float:left;
}
.carousel{
  width:100%;
  margin:auto;
  display: flex;
  align-items: center;
}
.row{
  width:90%;
  padding:0;
  overflow:hidden;
  margin:auto;
}
.row-container{
  width:100%;
  transition:0.5s;
 display: flex;
}
.container{
  width: 680px;
  flex: 1 0 100%;
  float:left;
  display:inline;
  margin:0 5px;
}
.container img {
  flex-basis: 100%;
  width: 100%;
  display: block;
  // margin: auto;
}
.clear{
  clear:both;
}
.controls{
  width:100%;
  margin:4px;
}
button{
  border:none;
  padding:10px 20px;
  color:white;
  background:#21252b;
  font-weight:bold;
  outline:none;
  border-radius:3px;
  height:200px;
  position:relative;
  height: 50px;
}





/* MEDIA QUERY */

@media screen and (min-width: 800px){
  .container{
    flex-basis: 33.33%;
    // width: 310px;
   }
   .container img {
    width: 100%;
   }
    
}

// NAVIGATOR PART


.title-slideshow {
  text-align: center;
 }
 
.main-navigators {
  display: flex;
  flex-flow: column nowrap;
}
.main-single-navigator {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
margin-bottom: 5rem;
}

.main-single-navigator img {
  display: block;
  margin: auto;
}

.main-single-navigator a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 1.25;
  margin-bottom: 1rem;
}


// MEDIA QUERY
@media screen and (min-width: 800px) {
 .main-navigators {
  flex-flow: row nowrap;
 }

}

}