.myaccount-page {
    h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: normal;
        margin-bottom: 2rem;
    }

    .avatarDisplayMyAccount {
        button {
            border: none;
            background: none;
            cursor: pointer;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;

            #currentAvatar {
                border-radius: 50%;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.454);
            }

            .editButton {
                background-color: $color-yellow1;
                color: white;
                border-radius: 50%;
                height: 33px;
                width: 33px;

                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                bottom: .25rem;
                right: .25rem;
            }
        }
    }



    #avatarMyAccountLabel {
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }


    #avatarMyAccount {
        border: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        max-width: 420px;
        margin-left: auto;
        margin-right: auto;

        label img {
            border-radius: 50%;
            transition: all .15s ease-in-out;
            cursor: pointer;
        }

        input:checked+label img {
            border: 4px solid $color-red2;
            border-radius: 50%;
        }

        div {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            input,
            label {
                grid-column: 1;
                grid-row: 1;
            }
        }

        button {
            display: block;
            grid-row: 5;
            grid-column: 1/-1;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
            color: white;
            background-color: $color-green1;
            border: none;
            border-radius: 15px;
            width: 126px;
            height: 44px;
            cursor: pointer;
        }
    }

    .form-wrapper {
        .field-wrapper {
            display: flex;
            flex-flow: column nowrap;
            max-width: 338px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;

            input {
                padding: 12px 24px;
                border: 2px solid $color-green1;
                border-radius: 8px;
            }
        }

        .buttons-wrapper {
            display: flex;
            flex-flow: row nowrap;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            gap: 1rem;
            margin-top: 2rem;

            button {
                text-transform: uppercase;
                font-size: .875rem;
                border: none;
                background-color: $color-green1;
                color: white;
                border-radius: 15px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;
            }
        }
    }

    .save-cancel-wrapper {
        display: flex;
        flex-flow: row nowrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 338px;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;

        button {
            text-transform: uppercase;
            color: white;
            background-color: $color-red2;
            border: none;
            border-radius: 15px;
            width: 126px;
            height: 44px;
            cursor: pointer;
        }

        a {
            font-size: .875rem;
            text-transform: uppercase;
            color: $color-red2;
            font-weight: bold;
        }
    }

    .form-wrapper,
    .change-avatar-wrapper {
        transition: all .5s ease-in-out;
    }

    .show {
        transform: translateX(0);
    }

    .right {
        transform: translateX(-100%);
    }

    .form-wrapper .new-hide {
        display: none;
    }

    .form-wrapper .new-block {
        display: block;
    }
}

.changeInfoMyAccount {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 2rem;

    .change-avatar-wrapper {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .form-wrapper {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }
}

@media screen and (min-width: $media-query-break) {
    .myaccount-page {
        h2 {
            font-size: 2.5rem;
        }

        #avatarMyAccount {
            max-width: 500px;
            grid-template-columns: repeat(4, 1fr);

            label {
                border: none;
            }
        }

        .form-wrapper {
            .field-wrapper {
                max-width: 450px;
            }
        }
    }
}