
main.myplants {

    h2 {
        text-align: center;
        font-size: 34px;
    }

    section.myplant {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: 30px;
        margin-bottom: 5rem;
    }

    .myplant h2 {
        flex-basis: 100%;
    }

    .myplant-wrapper {
        flex-basis: 100%;
    }

    section.myplant img {
        max-width: 50%;
        height: auto;
    }

    #addplant {
        background-color: $color-red2;
        color: #ffffff;
        border: none;
        text-transform: uppercase;
        border-radius: 15px;
        width: 197px;
        height: 44px;
        font-size: 14px;
    }



    // Plant shcedule section ===============

    .weekly-schedule-wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .weekly-schedule-wrapper > div {
        background: #FFFFFF;
        border: 5px solid #DD1C50;
        border-radius: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        width: 350px;
        height: 250px;
        margin-right: 10rem;
        margin-left: 10rem;
    }

    .myplants-icons i {
        font-size: 60px;
    }

    .myplants-icons img {
        width: 70px;
        height: auto;
    }

    .weekly-schedule-section {
        font-size: 21px;
        flex-basis: 100%;
    }

    .weekly-schedule-section + div {
        font-size: 21px;
        font-weight: 700;
    }

    .weekly-schedule-section .watering {
        flex-basis: 40%;
        text-align: right;
    }

    .weekly-schedule-section + div + input {
        font-size: 14px;
        border-radius: 5px;
        width: 151px;
        height: 29px;
        border: 2px solid $color-green1;
        background-color: $color-body-light;
    }

    button.watered-today {
        background-color: $color-red2;
        color: #ffffff;
        border: none;
        text-transform: uppercase;
        border-radius: 15px;
        width: 197px;
        height: 44px;
        font-size: 14px;
    }

    button.nutritionize-today {
        background-color: $color-green1;
        color: #ffffff;
        border: none;
        text-transform: uppercase;
        border-radius: 15px;
        width: 197px;
        height: 44px;
        font-size: 14px;
    }

    button.watered-today:disabled {
        background: rgba(178, 31, 81, 0.5);
    }

    button.nutritionize-today:disabled {
        background: rgba(131, 201, 146, 0.5);
    }



    @media screen and (min-width: 800px) {

        .weekly-schedule-wrapper {
            display: flex;
            flex-flow: row nowrap;
            border: 5px solid #DD1C50;
            border-radius: 50px;
            padding: 3rem;
            max-width: 1000px;
            margin: auto;
            gap: 0;
        }

        .weekly-schedule-wrapper > div {
            border: unset;
            margin: 0;
        }

        .sunlight-temp {
            padding-bottom: 7rem;
        }

        .weekly-schedule-section + div {
            flex-basis: 100%;
        }

        button.watered-today,
        button.nutritionize-today {
            margin-top: 1rem;
        }


        
    }

}