
main.plant-detail {

    .main-plant-detail-wrapper {
        padding: 1rem;
    }

    .main-plant-detail-wrapper > div {
        padding-bottom: 3rem;
    }

    .plant-image-name-wrapper img {
        border: $color-green1 4px solid;
        width: 15rem;
        height: auto;
        border-radius: 20px;
        margin: auto;
    }

    .plant-image-name-wrapper .plant-name {
        font-size: 2rem;
        color: $color-red1;
        font-weight: 400;
        font-family: $font-headers;
        text-align: center;
    }

    .desc-wrapper {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .indoor,
    .outdoor {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 3rem;
    }

    .indoor-frequent,
    .outdoor-frequent {
        flex-basis: 100%;
        text-align: center;
        font-size: 1.3rem;
    }

    .frequent {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .frequent-wrapper {
        border: $color-red1 2px solid;
        border-radius: 20px;
        width: 8.3rem;
        height: 8rem;
        text-align: center;
        padding: 1rem .5rem;
        font-size: 1.1rem;
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
        line-height: 1.1;
    }

    .frequent-wrapper div:nth-of-type(1) {
        font-weight: 700;
    }

    .section-wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        gap: 2rem;
        font-size: 1.2rem;
        border-bottom: 1px solid #BCBCBC;
        text-align: center;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .section-wrapper div {
        cursor: pointer;
    }

    .description {
        font-size: 1.1rem;
        padding: 0 1rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .mobile-view {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .desktop-view {
        display: none;
    }

    table, tr, td, th {
        border: 1px solid #BCBCBC;
        border-collapse: collapse;
        font-size: 1.1rem;
        padding: 1rem;
    }

    th {
        font-size: 1.2rem;
        font-weight: normal;
    }

    tbody tr:nth-of-type(2) {
        height: 9rem;
        vertical-align: top;
    }



    @media screen and (min-width: 800px) {

        .main-plant-detail-wrapper {
            // display: grid;
            // grid-template-columns: 1fr 1.5fr;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
            padding: 1rem;
        }

        .plant-image-name-wrapper {
            flex-basis: 40%;
            display: grid;
        }

        .plant-image-name-wrapper img {
            width: 100%;
            order: 1;
        }

        .section-wrapper {
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
            gap: 0;
        }

        .indoor,
        .outdoor {
            flex-flow: row nowrap;
            align-items: center;
            // justify-content: space-around;
            padding-bottom: 1rem;
        }

        .indoor-frequent,
        .outdoor-frequent {
            flex-basis: 100px;
            font-size: 1.1rem;
        }

        .frequent-wrapper {
            border: $color-red1 4px solid;
            // width: 8.5rem;
            // height: 7.5rem;
            flex-basis: 135px;
            line-height: 1.1;
            padding: .8rem .5rem;
        }

        .desc-wrapper {
            gap: 2rem;
            padding: 0;
            max-width: 500px;
        }

        .detail-section {
            margin-left: auto;
            margin-right: auto;
        }

        .indoor-section,
        .outdoor-section {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        .mobile-view {
            display: none;
        }
    
        .desktop-view {
            display: block;
        }

        table tr:nth-of-type(2) td {
            vertical-align: top;
        }

        .main-plant-detail-wrapper > div {
            padding: 0;
        }

        table {
            border: unset;
            border-collapse: collapse;
        }

        th {
            text-align: left;
            display: flex;
            align-items: center;
        }

        tr {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding: 0;
            border: unset;
        }

        tbody tr:nth-of-type(2) {
            height: 35rem;
        }
        
    }


    @media screen and (min-width: 1040px) {
        .main-plant-detail-wrapper {
            gap: 4rem;
            padding: 3rem;
        }

        .plant-image-name-wrapper .plant-name {
            font-size: 2.2rem;
        }

        .desc-wrapper {
            max-width: unset;
            flex-basis: 65%;
            gap: 3rem;
            max-width: 700px;
        }

        .indoor,
        .outdoor {
            justify-content: space-evenly;
            gap: 1rem;
        }
        
        .indoor-frequent,
        .outdoor-frequent {
            flex-basis: 70px;
            font-size: 1.2rem;
        }

        .frequent-wrapper {
            flex-basis: 145px;
            height: 8.2rem;
            font-size: 1.1rem;
        }

        .frequent {
            justify-content: space-between;
        }

        .section-wrapper {
            padding-bottom: 1rem;
            margin-bottom: 3rem;
            font-size: 1.2rem;
        }

        .indoor-section,
        .outdoor-section {
            margin-left: auto;
            margin-right: auto;
        }

        .description {
            font-size: 1.2rem;
        }

        tbody tr:nth-of-type(2) {
            height: 25rem;
        }

    }

    

}