.plantid {

  height: 80vh;

.header-plant-id {
  text-align: center;
}


.moon-cactus-image {
  display: none;
}

// take a photo

.uploading-picture-form {
  display: grid;
  justify-content: center;
}


.camera-container {
  margin: 2rem;
}

.camera-container p {
  text-align: center;
}

.icon-camera-container {
  background-color: $color-green1;
  border-radius: 50%;
  Width: 80px;
  Height: 80px;
  margin: auto;
  position: relative;
}

.icon-camera-container:hover {
  border: 1px solid $color-yellow1;
}

.icon-camera-container i {
  position: absolute;
  width: 2rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -16px;
  font-size: 2rem;
}

.camera {
  display: none;
  grid-column: 1/-1;
  grid-row: 3;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-flow: column;
  order: 10;
}

.camera button {
  border-radius: 15px;
  background-color: $color-green1;
  color: $color-body-light;
  padding: .5rem;
  margin: 0.2rem;
  border: none;
}

.camera button:hover {
  background: #FFFFFF;
  border: 2px solid $color-green1;
  color: black;
}

.canvas-wrapper {
  display: flex;
  border: 2px solid $color-green1;
  padding: .3rem;
}


// upload a photo
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input {
  opacity: 0;
  Width: 80px;
  Height: 80px;
}

.input-icon-container {
  border-radius: 50%;
  background-color: $color-green2;
  margin: auto;

}

.custom-file-input::before {
  margin-right: 0;
}

.input-icon-container:hover {
  border: 1px solid $color-yellow1;
}

.plant-id-button {
  font-size: 14px;
  background-color: $color-red2;
  color: #FAFAFA;
  text-align: center;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
  font-weight: 700px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  width: 126px;
  height: 44px;
  margin: auto;
  margin-top: 1rem;
  border: none;
  margin-top: 2.75rem;
  margin-bottom: 4.75rem;
}

.plantid form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

.file-choose-container {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

.file-choose-container label,
.camera-container p {
  margin-bottom: 1rem;
}

.file-choose-container label {
  text-align: center;
}

.input-icon-container {
  position: relative;
}

.input-icon-container i {
  position: absolute;
  width: 2rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -16px;
  font-size: 2rem;
}

#myImg {
  // border: 4px solid $color-green1;
  border-radius: 20px;
  display: block;
  margin: auto;
  width: 200px;
  height: auto;
  margin-bottom: 20rem;
}

//showing the result 

.result-message {
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
  margin: 1.375rem;
}
.common-name-wrapper, 
.scientific-name-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: .3rem;
  align-items: center;
  margin-bottom: 1.375rem;
}

.names-wrapper {
  display: grid;
  justify-content: center;
}

.plant-picture {
  display: block;
  width: 255px;
  height: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.25rem;
  margin: auto;
}

.plant-picture img {
  border: 4px solid $color-green1;
  border-radius: 20px;
  margin: 2.3rem 0;
}


@media screen and (min-width: 800px){
  .header-plant-id {
   font-weight: 400;
  }

.moon-cactus-image {
  display: block;
  width: 302px;
  height: auto;
  grid-column: 1/2;
  margin-bottom: 7rem;
}

.main-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 5rem 0;
  height: 40vh;
  padding: .7rem;
  margin-bottom: 2rem;
}

.uploading-picture-form {
  grid-column: 2/3;

}

#myImg {
  grid-column: 2/3;
}

.moon-cactus-image {
  grid-row: 2;
  justify-self: center;
}

.taking-picture-wrapper {
  display: flex;
  justify-content: center;
  justify-self: center;
}

.file-choose-container {
 margin: 2rem;
}

.custom-file-input,
.icon-camera-container {
  Width: 100px;
  Height: 100px;
}

.plant-id-button {
  width: 197PX;
  justify-self: center;
}

.plant-id-button:hover {
  background-color: #ffff;
  color: black;
  border:2px solid $color-red1;
}

.plant-picture{
grid-column: 1/2;
grid-row: 1/4;
align-self: center;
justify-self: center;
}

.header-plant-id,
.names-wrapper,
.result-message {
  grid-column: 2/-1;
}

.result-message {
  margin-bottom: 2.5rem;
}
 

}


}
