
// .input-container {
//   border-radius: 50%;
//   width: 100px;
//   height: 100px;
//   background-color: $color-green1;
// }

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'image';
  margin: 0;
  margin-left: 8rem;
  border: 1px solid $color-green1;
  border-radius: 50%;
  padding: 5px 8px;
  white-space: nowrap;
  // -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  height: 60px;
  width: 60px;
  background-color: $color-green2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-input::before {
  margin-right: 0;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.plant-id-button {
font-size: 14px;
background-color: $color-red2;
color: #FAFAFA;
text-align: center;
border-radius: 15px;
outline: none;
font-size: 16px;
font-weight: 700px;
letter-spacing: 1.25px;
text-transform: uppercase;
width: 126px;
height: 44px;
margin: auto;
margin-top: 1rem;

}

.plant-id-main form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

.file-choose-container {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

.file-choose-container label {
  text-align: center;
}
