// SEARCH PART
.search-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.search-input {
background: #FEFDFE;
border: 1px solid #EFD35E;
border-radius: 20px 0px 0px 20px;
padding: .3rem;
}

.search-icon {
display: flex;
background: #EFD35E;
border: 1px solid #EFD35E;
border-radius: 0px 20px 20px 0px;
flex-basis: 10%;
padding: 0.2rem;
justify-content: center;
}

.search-icon a {
  color: black;
}

// RESULT PART